Zaneuski.Casino.Model/Zaneuski.Casino.WpfApplication/Service References/ServiceReference1/Zaneuski.Casino.WcfServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Zaneuski.Casino.WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Zaneuski.Casino.WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="AdministratorType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Country" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObservedPlayers" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SupervisedTournaments" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdministratorType" nillable="true" type="tns:AdministratorType" />
  <xs:complexType name="ArrayOfAdministratorType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdministratorType" nillable="true" type="tns:AdministratorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdministratorType" nillable="true" type="tns:ArrayOfAdministratorType" />
</xs:schema>