Zaneuski.Casino.Model/Zaneuski.Casino.WpfApplication/Service References/ServiceReference7/Zaneuski.Casino.WcfServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Zaneuski.Casino.WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Zaneuski.Casino.WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="RoundType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="RoomNumber" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RoundResultsId" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Tournament" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoundType" nillable="true" type="tns:RoundType" />
  <xs:complexType name="ArrayOfRoundType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoundType" nillable="true" type="tns:RoundType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoundType" nillable="true" type="tns:ArrayOfRoundType" />
</xs:schema>