Zaneuski.Casino.Model/Zaneuski.Casino.WpfApplication/Service References/ServiceReference4/Zaneuski.Casino.WcfServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Zaneuski.Casino.WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Zaneuski.Casino.WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PassportInformationType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassportNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PassportInformationType" nillable="true" type="tns:PassportInformationType" />
  <xs:complexType name="ArrayOfPassportInformationType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PassportInformationType" nillable="true" type="tns:PassportInformationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPassportInformationType" nillable="true" type="tns:ArrayOfPassportInformationType" />
</xs:schema>