Zaneuski.Casino.Model/Zaneuski.Casino.WpfApplication/Service References/ServiceReference5/Zaneuski.Casino.WcfServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Zaneuski.Casino.WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Zaneuski.Casino.WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="PlayerType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountBalance" type="xs:double" />
      <xs:element minOccurs="0" name="Admin" type="xs:int" />
      <xs:element minOccurs="0" name="Birth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Country" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="HaveFriends" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IsFriends" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Passport" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RoundResults" nillable="true" type="q3:ArrayOfint" />
      <xs:element minOccurs="0" name="Sex" type="xs:boolean" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Tournaments" nillable="true" type="q4:ArrayOfint" />
      <xs:element minOccurs="0" name="VerifyFlag" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerType" nillable="true" type="tns:PlayerType" />
  <xs:complexType name="ArrayOfPlayerType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerType" nillable="true" type="tns:PlayerType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerType" nillable="true" type="tns:ArrayOfPlayerType" />
</xs:schema>