Zaneuski.Casino.Model/Zaneuski.ProjectTest/Service References/ServiceReference3/Zaneuski.Casino.WcfServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Zaneuski.Casino.WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Zaneuski.Casino.WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="GameTypesType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TournamentsId" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameTypesType" nillable="true" type="tns:GameTypesType" />
  <xs:complexType name="ArrayOfGameTypesType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameTypesType" nillable="true" type="tns:GameTypesType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameTypesType" nillable="true" type="tns:ArrayOfGameTypesType" />
</xs:schema>