Zaneuski.Casino.Model/Zaneuski.ProjectTest/Service References/ServiceReference1/Zaneuski.Casino.WcfServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Zaneuski.Casino.WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Zaneuski.Casino.WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="TournamentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminId" type="xs:int" />
      <xs:element minOccurs="0" name="GameTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ParticipantsId" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="RestrictionId" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Rounds" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="Schedule" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TournamentName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TournamentType" nillable="true" type="tns:TournamentType" />
  <xs:complexType name="ArrayOfTournamentType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TournamentType" nillable="true" type="tns:TournamentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTournamentType" nillable="true" type="tns:ArrayOfTournamentType" />
</xs:schema>