Zaneuski.Casino.Model/Zaneuski.Casino.WpfApplication/Service References/ServiceReference6/Zaneuski.Casino.WcfServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Zaneuski.Casino.WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Zaneuski.Casino.WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RoundResultType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gain" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ParticipantId" type="xs:int" />
      <xs:element minOccurs="0" name="TournamentRoomId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoundResultType" nillable="true" type="tns:RoundResultType" />
  <xs:complexType name="ArrayOfRoundResultType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoundResultType" nillable="true" type="tns:RoundResultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoundResultType" nillable="true" type="tns:ArrayOfRoundResultType" />
</xs:schema>