Zaneuski.Casino.Model/Zaneuski.Casino.WpfApplication/Service References/ServiceReference8/Zaneuski.Casino.WcfServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Zaneuski.Casino.WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Zaneuski.Casino.WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="TournamentRestrictionType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fee" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MaximumNumberOfWins" type="xs:int" />
      <xs:element minOccurs="0" name="MinimumNumberOfWins" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Tournaments" nillable="true" type="q1:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TournamentRestrictionType" nillable="true" type="tns:TournamentRestrictionType" />
  <xs:complexType name="ArrayOfTournamentRestrictionType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TournamentRestrictionType" nillable="true" type="tns:TournamentRestrictionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTournamentRestrictionType" nillable="true" type="tns:ArrayOfTournamentRestrictionType" />
</xs:schema>